body {
  margin-top: 10px;
  -webkit-margin-top: 10px;
  -moz-margin-top: 10px;
  -ms-margin-top: 10px;
  -o-margin-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-left: 10%;
  -webkit-margin-left: 10%;
  -moz-margin-left: 10%;
  -ms-margin-left: 10%;
  -o-margin-left: 10%;
  color: #fff;
  font-size: 2vw;
  -webkit-font-size: 2vw;
  -moz-font-size: 2vw;
  -ms-font-size: 2vw;
  -o-font-size: 2vw;
}
